html {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    background-color: #161616;
    color: #e2e2e2;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #121212;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
}

h1 {
    margin: 0;
    color: #e2e2e2;
    padding: 20px 0;
    text-shadow: 3px 3px 1px #121212;
    font-size: 60px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}