@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  position: absolute;
  z-index: 999;
  width: 32%;
  top: 50%;
  transform: translate(0%, -50%);
  right: 1rem;
  height: 90%;
  border-radius: 2rem;
  border: grey 2px solid;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(100px);
}
@media (max-width: 700px) {
  .main {
    width: 80%;
    height: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.main .aeader {
  background-color: #fff;
  border-radius: 1rem;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .main .aeader {
    height: 30%;
  }
}
.main .aeader h1 {
  display: inline-block;
  font-size: 5.3rem;
  font-weight: 700;
  color: #121212;
  transform: scale(0.7, 1.25);
  letter-spacing: -0.3rem;
}
.main .insert {
  height: 20%;
  width: 100%;
  margin: 5px 0;
  border-radius: 1rem;
  border: #121212 2px solid;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  justify-content: left;
}
@media (max-width: 700px) {
  .main .insert {
    height: 45%;
  }
}
.main .insert .symbol {
  margin-left: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 1rem;
  width: 20%;
  background-color: #5D8DFD;
}
.main .insert .symbol svg {
  height: 65%;
}
.main .delete {
  height: 20%;
  width: 100%;
  margin: 5px 0;
  border-radius: 1rem;
  border: #121212 2px solid;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: right;
}
@media (max-width: 700px) {
  .main .delete {
    height: 45%;
  }
}
.main .delete .symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 1rem;
  width: 20%;
  margin-right: 0.7rem;
  background-color: #d6fd5d;
}
.main .delete .symbol svg {
  height: 65%;
}
.main .other {
  height: 20%;
  width: 100%;
  margin: 5px 0;
  border-radius: 1rem;
  border: #121212 2px solid;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  justify-content: left;
}
@media (max-width: 700px) {
  .main .other {
    height: 45%;
  }
}
.main .other .symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 1rem;
  width: 20%;
  margin-left: 0.7rem;
  background-color: #FD5D5D;
}
.main .other .symbol svg {
  height: 65%;
}
.main .aooter {
  height: 25%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .main .aooter {
    height: 15%;
  }
}
.main .aooter .details {
  height: 55%;
  width: 100%;
  display: flex;
}
@media (max-width: 700px) {
  .main .aooter .details {
    display: none;
  }
}
.main .aooter .details .symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 1rem;
  width: 20%;
}
.main .aooter .details .symbol svg {
  height: 65%;
}
.main .aooter .details .aescription {
  padding: 0 1rem;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .aooter .details .aescription p {
  text-align: left;
  margin: 0;
  height: 80%;
  color: #fff;
  font-weight: 200;
  font-size: 0.7rem;
}
.main .aooter .typebox {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 700px) {
  .main .aooter .typebox {
    height: 100%;
  }
}
.main .aooter .typebox input {
  height: 100%;
  width: 50%;
  background-color: #121212;
  border: none;
  padding: 0 1rem;
  color: #a2a2a2;
  -moz-appearance: textfield;
  appearance: textfield;
}
.main .aooter .typebox input::-webkit-outer-spin-button, .main .aooter .typebox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .aooter .typebox input:focus {
  outline: none;
}
.main .aooter .typebox p {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  background-color: #121212;
  color: gray;
}

/*# sourceMappingURL=linked_list.css.map */
