@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #000;
$secondary: #fff;
$border: grey 2px solid;
$border-inside: #121212 2px solid;
$lemon: #d6fd5d;

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color:$primary;
    font-family: "Poppins", sans-serif;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    position: absolute;
    z-index: 999;
    width: 30%;
    top: 50%;
    transform: translate(0%, -50%);
    right: 1rem;
    height: 90%;
    border-radius: 2rem;
    border: $border;
    background-color: transparent; 
    display: none;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(100px);
        @media (max-width: 700px) {
            width: 80%;
            height: 40%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
}
